.notFound {
  @extend %flex-center;

  background-color: $color-white;
  color: $color_black;

  height: 100vh;
  text-align: center;

  &__content {
    padding: 16px;
    max-width: 600px;

    &__title {
      color: $error-color;

      font-size: 100px;
      font-weight: bold;
      margin-bottom: 16px;
    }

    &__message {
      font-size: 22px;
      margin-bottom: 24px;
    }

    &__button {
      @extend %flex-center;

      background: $warning-color;

      height: 30px;
      cursor: pointer;
      font-size: 18px;
      transition: 0.5s;
      color: $color-white;
      border-radius: 10px;

      &:hover {
        transform: scale(1.01);
      }
    }
  }
}
