$color_black: black;
$color-white: white;

$main-color: #2f4563;
$light-gray: #f1f2f6;

$success-color: #2ed573;
$error-color: #ff4757;
$warning-color: #ffa502;
$info-color: #1e90ff;

$blur-color: rgba(0, 0, 0, 0.4);

$black-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
$overlay_shadow: 0 4px 12px rgba(255, 251, 251, 0.751);
