@use './colors' as *;
@use './breakpoints' as *;

@mixin max-breakpoint($size) {
  @media (max-width: #{breakpoint($size)}) {
    @content;
  }
}

@mixin min-breakpoint($size) {
  @media (min-width: #{breakpoint($size)}) {
    @content;
  }
}

%primary-button {
  background-color: $color_black;

  height: 30px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: $shadow-black;
  }

  &:active {
    transform: scale(0.98);
    box-shadow: $shadow-black;
  }
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-end {
  display: flex;
  justify-content: end;
}

%flex-start {
  display: flex;
  justify-content: start;
}

%flex-between {
  display: flex;
  justify-content: space-between;
}

%welcome-title {
  color: $color-main;

  font-size: 36px;
  margin: 40px 0;
  font-weight: 700;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  @include max-breakpoint(tablet) {
    font-size: 28px;
  }

  @include max-breakpoint(mobile) {
    font-size: 22px;
    margin: 24px 0;
  }
}

%main-container {
  width: 100%;
  height: auto;
}

%default-title {
  font-size: 25px;
  font-weight: bold;
  color: $color-main;
}
