.header {
  @extend %flex-center;
  @extend %flex-between;

  color: $color_black;
  background-color: $color_white;

  height: 56px;
  padding: 32px 64px;

  @include max-breakpoint(laptop) {
    padding: 25px 13px;
  }

  @include max-breakpoint(mobile) {
    padding: 24px 16px;
  }

  &__rightSection {
    @extend %flex-center;
    gap: 20px;

    @include max-breakpoint(mobile) {
      gap: 5px;
    }
  }

  &__login {
    @extend %flex-center;
    @extend %primary-button;

    color: $color_white;

    padding: 8px;
    cursor: pointer;

    @include max-breakpoint(mobile) {
      height: 28px;
      font-size: 14px;
      border-radius: 8px;
    }
  }

  &__icons {
    width: 24px;
    height: 24px;
    cursor: pointer;

    @include max-breakpoint(mobile) {
      width: 20px;
      height: 20px;
    }
  }

  &__logo {
    width: 120px;
    height: 90px;
    cursor: pointer;
  }
}
